h1{background-color:beige;font-size:50px;text-align:center;margin:3cm 3cm;}
section{background-color:beige;font-size:25px;margin:2cm 2cm;}
body{background-image: url(%E9%BB%9E%E5%BF%83.png);}
ul{list-style:none;background-color:beige;font-size:25px;text-align:center;margin:2cm 2cm;}